#heading {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    background-color: rgba(104, 207, 255, 0.719);
}

#footing {
    background-color: rgba(104, 207, 255, 0.719);
    height: 70px;
}

#main {
width: 800px;
height: 450px;
background-color: rgba(104, 207, 255, 0.719);
}

#spacer {
    
}